<body>
  <header>
    <h1>Bienvenue sur le site en ligne de {{title}}</h1>
  </header>
  <main>
    <app-inscription-membre></app-inscription-membre>
    
      <app-liste-membres></app-liste-membres>
      <label> Entrez l'email d'un membre </label> <input type="text" [(ngModel)]="email"/> {{email}}
      <!--<app-recherche-membre [nomDuMembre]="email"></app-recherche-membre>-->
      <a [routerLink]="['/membres', email]">Rechercher le membre avec l'email {{email}}</a>
      <router-outlet></router-outlet>

      <label> Rechercher des compétence par un de leur mot-clés </label> <input type="text" [(ngModel)]="compMotCle"/> {{compMotCle}}
      <!--<app-recherche-membre [nomDuMembre]="email"></app-recherche-membre>-->
      <a [routerLink]="['/competences', compMotCle]">Rechercher</a>
      <router-outlet></router-outlet>

      
  </main>
  <footer>
    
  </footer>

